nav {
    margin-bottom: 40px;
}


.social {
    font-size: medium;
    margin-top: 40px;
    padding: 10px;
    color: #ffffff;

    
}

@media screen and (max-width: 992px) {
    .img-margin {
        margin-bottom: 20px;
    }
} 


@media screen and (max-width: 576px) {
    .img-margin {
        display: flex; 
        justify-content: space-around;
        margin-bottom: 40px;
    }
}
