.flex_container_body {
    display: flex;
    flex-direction: column;
}

.flex_container_nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(56, 54, 54);
    justify-content: space-between;
}

a {
    color: lightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}